@model Agency.ViewModel.HotelViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Booking</title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <link href="~/Content/AdminPanelAssets/assets/css/loader.css" rel="stylesheet" type="text/css" />
    <script src="~/Content/AdminPanelAssets/assets/js/loader.js"></script>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap" rel="stylesheet">
    <link href="~/Content/AdminPanelAssets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/AdminPanelAssets/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/fontawesome/css/all.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!--  BEGIN CUSTOM STYLE FILE  -->
    <link href="~/Content/AdminPanelAssets/assets/css/scrollspyNav.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Content/AdminPanelAssets/plugins/jquery-step/jquery.steps.css">
    <style>
        #formValidate .wizard > .content {
            min-height: 25em;
        }

        #example-vertical.wizard > .content {
            min-height: 24.5em;
        }
    </style>
    <!--  END CUSTOM STYLE FILE  -->
    <link rel="stylesheet" type="text/css" href="~/Content/AdminPanelAssets/assets/css/forms/theme-checkbox-radio.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link href="~/Content/AdminPanelAssets/assets/css/customizedByAbdullah2.css" rel="stylesheet" type="text/css" />
</head>
<body class="alt-menu sidebar-noneoverflow separted-page">
    <!-- BEGIN LOADER -->
    <div id="load_screen">
        <div class="loader">
            <div class="loader-content">
                <div class="spinner-grow align-self-center"></div>
            </div>
        </div>
    </div>
    <!--  END LOADER -->
    <!--  BEGIN NAVBAR  -->
    <div class="header-container">
        <header class="header navbar navbar-expand-sm">
            <div class="nav-logo align-self-center">
                <a class="navbar-brand" href="index.html"><img src="~/Content/AdminPanelAssets/assets/img/CHECKINNOWLOGO.jpeg" style="width: auto;height:40px" /></a>
            </div>
        </header>
    </div>
    <!--  END NAVBAR  -->
    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container " id="container">
        <!--  BEGIN CONTENT PART  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">
                <div class="Event-Header row">
                    <div class="eventLogo offset-2 col-2">
                        @if (Model.HotelImagesVM.Count != 0)
                        {
                            <img width="90" height="90" src="@Model.HotelImagesVM[0].path">
                        }
                        else
                        {
                            <img width="90" height="90" src="~/images/default_hotel_image.jpg">
                        }
                    </div>
                    <div class="eventHeading col-8">
                        <h2>@Model.name | @Model.title</h2>
                        <p>
                            @Model.event_from.ToString().Split(' ')[0] to @Model.event_to.ToString().Split(' ')[0] @Model.event_location
                        </p>
                    </div>
                </div>
                <div class="row Booking-sec-main">
                    <div class="Booking-sec-small offset-1 col-11 row">
                        <div class="col-3 text-center">
                            <h5>
                                No Of Rooms
                            </h5>
                        </div>
                        <div class="offset-5 col-3">
                            <p><strong style="font-size:16px"><span id="number_of_room_strong_paragraph">@ViewBag.NumberOfRooms </span><a href="javascript::void(0)" id="add_room"><i class="fa fa-plus"></i></a></strong>  </p>
                        </div>
                    </div>
                </div>
                <div class="Wizard-form-container">
                    <form method="post" action="@Url.Action("makeReservation","Booking")" id="reservation_wizzard_form">
                        <input type="hidden" name="event_id" value="@Model.event_id" />
                        <input type="hidden" name="event_hotel_id" value="@Model.event_hotel_id" />
                        <div class="statbox widget box box-shadow">
                            <div class="widget-content widget-content-area">
                                <div id="circle-basic" class="">

                                    <h3>Rooms</h3>
                                    <section>
                                        <div id="basic" class="col-lg-12 layout-spacing">
                                            <div class="statbox widget box box-shadow">
                                                <div class="widget-content widget-content-area" id="rooms_div">
                                                    @for (int i = 1; i <= ViewBag.NumberOfRooms; i++)
                                                    {
                                                        <div class="row" id="room_number_@i">
                                                            <div class="col-12 mb-4">
                                                                <div class="form-row mb-4">
                                                                    <div class="col-3">
                                                                        <input type="text" class="form-control" required placeholder="First Name" name="first_name">
                                                                    </div>
                                                                    <div class="col-3 offset-1">
                                                                        <input type="text" class="form-control" required placeholder="Last Name" name="last_name">
                                                                    </div>
                                                                    <div class="col-3 offset-1">
                                                                        <select class="form-control room_type" required name="room_type" id="room_type_@i" data-reservation-from="in-date_@i" data-reservation-to="out-date_@i" data-row="@i">
                                                                            <option value="1">Single</option>
                                                                            <option value="2">Double</option>
                                                                            <option value="3">Tribble</option>
                                                                            <option value="4">Quadro</option>
                                                                        </select>
                                                                    </div>

                                                                </div>
                                                                <div class="form-row mb-4">
                                                                    <div class="col-3">
                                                                        <label for="in-date">Checkin Date</label>
                                                                        <input type="date" id="in-date_@i" required name="reservation_from" class="form-control reservation_from" data-room-type="room_type_@i" data-reservation-to="out-date_@i" data-row="@i">
                                                                    </div>
                                                                    <div class="col-3  offset-1">
                                                                        <label for="out-date">Checkout Date</label>
                                                                        <input type="date" id="out-date_@i" required name="reservation_to" class="form-control reservation_to" data-room-type="room_type_@i" data-reservation-from="in-date_@i" data-row="@i">
                                                                    </div>

                                                                </div>
                                                                <div class="buttons-form-position">
                                                                    @*<button class="btn btn-success">Add</button>*@
                                                                    <a href="javascript:void(0)" class="btn btn-danger delete_room" data-control-div="room_number_@i">Del</a>
                                                                </div>


                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <h3>Details</h3>
                                    <section>
                                        <div id="basic" class="col-lg-12 layout-spacing">
                                            <div class="statbox widget box box-shadow">
                                                <div class="widget-content widget-content-area">
                                                    <div class="row">
                                                        <div class="col-12">

                                                            <div class="form-row mb-4">
                                                                <div class="col-3">
                                                                    <span class="edit-form-new-dataSP">Hotel Name</span>
                                                                    <p class="edit-form-new-data">
                                                                        @Model.name
                                                                    </p>
                                                                </div>
                                                                <div class="col-3 offset-1">
                                                                    <span class="edit-form-new-dataSP">Price per Night</span>
                                                                    <p class="edit-form-new-data">
                                                                        $<span>S: @Model.single_price D: @Model.double_price T: @Model.triple_price Q: @Model.quad_price</span>
                                                                    </p>
                                                                </div>
                                                                <div class="col-3 offset-1">
                                                                    <span class="edit-form-new-dataSP">Number of nights</span>
                                                                    <p class="edit-form-new-data">
                                                                        <span id="calculated_number_of_nights">0</span> nights
                                                                    </p>
                                                                </div>

                                                            </div>
                                                            <div class="form-row mb-4">
                                                                <div class="col-3">
                                                                    <span class="edit-form-new-dataSP">Check In Date</span>
                                                                    <p class="edit-form-new-data">
                                                                        <span id="check_in_min">YYYY/MM/DD</span>
                                                                    </p>
                                                                </div>
                                                                <div class="col-3 offset-1">
                                                                    <span class="edit-form-new-dataSP">Check Out Date</span>
                                                                    <p class="edit-form-new-data">
                                                                        <span id="check_out_max">YYYY/MM/DD</span>
                                                                    </p>
                                                                </div>
                                                                <div class="col-3 offset-1">
                                                                    <span class="edit-form-new-dataSP">Taxes</span>
                                                                    <p class="edit-form-new-data">
                                                                        $<span id="calculated_tax">0</span>
                                                                    </p>
                                                                </div>

                                                            </div>
                                                            <div class="form-row mb-4">
                                                                <div class="col-3">
                                                                    <span class="edit-form-new-dataSP">Total after tax</span>
                                                                    <p class="edit-form-new-data">
                                                                        $<span id="calculated_total_after_tax">0</span>
                                                                    </p>
                                                                </div>
                                                                <div class="col-3  offset-1">
                                                                    <span class="edit-form-new-dataSP">Deposit</span>
                                                                    <p class="edit-form-new-data">
                                                                        $<span id="calculated_deposit">0</span>
                                                                    </p>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <h3>Payment</h3>
                                    <section>
                                        <div id="basic" class="col-lg-12 layout-spacing">
                                            <div class="statbox widget box box-shadow">
                                                <div class="widget-content widget-content-area">
                                                    <div class="row">
                                                        <div class="col-12">

                                                            <h4 class="mx-auto text-center  mb-4"> Info Needed</h4>
                                                            <div class="form-row mb-4">
                                                                <div class="col-3">
                                                                    <input type="text" class="form-control" placeholder="Company Name" name="company_name">
                                                                </div>
                                                                <div class="col-3 offset-1">
                                                                    <input type="text" class="form-control" placeholder="Contact Name" name="reservations_officer_name">
                                                                </div>
                                                                <div class="col-3 offset-1">
                                                                    <input type="text" class="form-control" placeholder="Phone Number" name="reservations_officer_phone">
                                                                </div>

                                                            </div>
                                                            <div class="form-row mb-4">
                                                                <div class="col-3">
                                                                    <input type="email" class="form-control" placeholder="Your Email" name="reservations_officer_email">
                                                                </div>
                                                                <div class="col-3 offset-1">
                                                                    <input type="number" class="form-control" placeholder="fax" name="company_fax">
                                                                </div>
                                                                <div class="col-3 offset-1">
                                                                    <input type="text" class="form-control" placeholder="Address" name="company_address">
                                                                </div>

                                                            </div>
                                                            <div class="form-row mb-4">
                                                                <div class="col-3">
                                                                    <input type="text" class="form-control" placeholder="State" name="company_state">
                                                                </div>
                                                                <div class="col-3 offset-1">
                                                                    <input type="number" class="form-control" placeholder="Postal/Zip Code" name="company_postal_code">
                                                                </div>
                                                                <div class="col-3 offset-1">
                                                                    <input type="text" class="form-control" placeholder="Country" name="company_country">
                                                                </div>

                                                            </div>
                                                            <h4 class="mx-auto text-center mb-4"> Payment Details</h4>
                                                            <div class="form-row mb-4 ">
                                                                <div class="col-3">
                                                                    <h5>Payment Method </h5>
                                                                </div>
                                                                <div class="col-9 radio-options-edit">
                                                                    <div class="n-chk">
                                                                        <label class="new-control new-radio new-radio-text radio-classic-primary">
                                                                            <input type="radio" class="new-control-input" name="payment_type" value="1">
                                                                            <span class="new-control-indicator"></span><span class="new-radio-content">Visa</span>
                                                                        </label>
                                                                    </div>
                                                                    <div class="n-chk">
                                                                        <label class="new-control new-radio new-radio-text radio-classic-info">
                                                                            <input type="radio" class="new-control-input" name="payment_type" value="2">
                                                                            <span class="new-control-indicator"></span><span class="new-radio-content">Amex</span>
                                                                        </label>
                                                                    </div>
                                                                    <div class="n-chk">
                                                                        <label class="new-control new-radio new-radio-text radio-classic-danger">
                                                                            <input type="radio" class="new-control-input" name="payment_type" value="3">
                                                                            <span class="new-control-indicator"></span><span class="new-radio-content">Master Card</span>
                                                                        </label>
                                                                    </div>
                                                                    <div class="n-chk">
                                                                        <label class="new-control new-radio new-radio-text radio-classic-warning">
                                                                            <input type="radio" class="new-control-input" name="payment_type" value="4">
                                                                            <span class="new-control-indicator"></span><span class="new-radio-content">Discover</span>
                                                                        </label>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="form-row mb-4">
                                                                <div class="col-4">
                                                                    <input type="text" class="form-control" placeholder="Credit Card Number" name="credit_card_number">
                                                                </div>
                                                                <div class="col-3 offset-1">
                                                                    <input type="text" class="form-control" placeholder="Security Code" name="security_code">
                                                                </div>
                                                                <div class="col-3 offset-1">
                                                                    <input type="text" class="form-control" placeholder="Card Expiration Date" name="card_expiration_date">
                                                                </div>

                                                            </div>
                                                            <div class="form-row mb-4">
                                                                <div class="custom-control custom-checkbox mb-2">
                                                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                                    <label class="custom-control-label" for="customCheck1">
                                                                        By clicking the submit button, I agree to terms & conditions.
                                                                    </label>
                                                                </div>
                                                                <div class="termsx">
                                                                    You acknowledge that the Check In Now Companies pre-negotiate certain room rates with hotel suppliers to facilitate the booking of reservations.<br />
                                                                    You also acknowledge that the Check In Now Companies provide you services to facilitate such booking of reservations for a consideration (the “facilitation fee”).<br />
                                                                    The room rate provided is a combination of the pre-negotiated room rate for rooms reserved on your behalf by the Check In Now Companies and the facilitation fee retained by the Check In Now Companies for their services. You authorize the Check In Now Companies to book reservations for the total reservation price, which includes the room rate provided, plus tax recovery charges, service fees, and where applicable, taxes on the Check In Now Companies’ services.<br />
                                                                    Check In Now is a is a privately-owned company, not affiliated with any event or other organization.<br />
                                                                    You agree to arrange payment no later than 24 hours after submitting this booking form. Upon submitting your reservation request you authorize the Check In Now Companies to facilitate hotel reservations on your behalf, including making payment arrangements with hotel suppliers.<br />
                                                                    You acknowledge that except as provided below with respect to tax obligations on the amounts we retain for our services, the Check In Now Companies do not collect taxes for remittance to applicable taxing authorities.<br />
                                                                    The tax recovery charges on prepaid hotel transactions are a recovery of the estimated taxes (e.g. sales and use, occupancy, room tax, excise tax, value added tax, etc.) that the Check In Now Companies pay to the hotel supplier for taxes due on the hotel’s rental rate for the room.<br />
                                                                    The hotel suppliers invoice the Check In Now Companies for certain charges, including tax amounts.<br />
                                                                    The hotel suppliers are responsible for remitting applicable taxes to the applicable taxing jurisdictions.<br />
                                                                    None of the Check In Now Companies act as co-vendors with the supplier with whom we book or reserve our customer’s travel arrangements.<br />
                                                                    Taxability and the appropriate tax rate vary greatly by location. The actual tax amounts paid by the Check In Now Companies to the hotel suppliers may vary from the tax recovery charge amounts, depending upon the rates, taxability, etc. in effect at the time of the actual use of the hotel by our customers.<br />
                                                                    <br /> We retain service fees as additional compensation in servicing your travel reservation.<br />
                                                                    Service fees retained by the Check In Now Companies for their services vary based on the amount and type of hotel reservation.<br />
                                                                    <br />
                                                                    Cancellation and Modification Policy:<br />
                                                                    You may change your prepaid hotel reservation, but you will be charged the cancellation or change fee if changes requested less than 14 days prior to check-in.<br />
                                                                    If you do not change your reservation before the cancellation policy period applicable to the hotel you reserved, which varies by hotel (usually 15 to 30 days) prior to your date of arrival, you will be subject to a charge equal to applicable nightly rates, tax recovery charges and service fees. <br />
                                                                    In the event you do not show for the first night of the reservation and plan to check-in for subsequent nights in your reservation, you must confirm the reservation changes with us no later than 30 days prior to the first night of the reservation to prevent cancellation of your reservation.<br />
                                                                    If the entire reservation is cancelled, you will be charged a cancellation fee equal to 30 % of your total Contract price. <br />
                                                                    You agree to pay any cancellation or change fees that you incur.
                                                                    <br />In limited cases, some hotels do not permit changes to or cancellations of reservations after they are made.<br />
                                                                    <br />
                                                                    SERVICE HELP<br />
                                                                    <br />
                                                                    For quick answers to your questions or ways to contact us, visit our Customer Support Center. Or, you can write to us at:<br />
                                                                    <br />
                                                                    • Attn: Customer Service<br />
                                                                    <br />
                                                                    • Check In Now Inc.<br />
                                                                    <br />
                                                                    (813) 793-7396<br />
                                                                    (888) 808-0988<br />
                                                                    <br />
                                                                    • 100 S. Ashely Drive,Suite 600<br />
                                                                    <br />
                                                                    • Tampa FL 33602<br />
                                                                </div>
                                                            </div>
                                                            <div class="row form-group" style="align-items:center;">
                                                                <div class="col-3">
                                                                    <img src="~/Content/AdminPanelAssets/assets/img/security_certificate_seal_comodo.png" />
                                                                </div>
                                                                <div class="col-4 offset-1">
                                                                    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
                                                                    <div class="g-recaptcha" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></div>
                                                                </div>


                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </section>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--  END CONTENT PART  -->

        </div>

    </div>
    <!-- END MAIN CONTAINER -->
    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="~/Content/AdminPanelAssets/assets/js/libs/jquery-3.1.1.min.js"></script>
    <script src="~/Content/AdminPanelAssets/bootstrap/js/popper.min.js"></script>
    <script src="~/Content/AdminPanelAssets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/AdminPanelAssets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/Content/AdminPanelAssets/assets/js/app.js"></script>
    <script>
        $(document).ready(function () {
            App.init();
        });</script>
    <script src="~/Content/AdminPanelAssets/assets/js/custom.js"></script>
    <script src="~/Content/AdminPanelAssets/plugins/highlight/highlight.pack.js"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    <script src="~/Content/AdminPanelAssets/plugins/apex/apexcharts.min.js"></script>
    <script src="~/Content/AdminPanelAssets/assets/js/dashboard/dash_1.js"></script>
    <script src="~/Content/AdminPanelAssets/plugins/table/datatable/datatables.js"></script>
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/Content/AdminPanelAssets/assets/js/scrollspyNav.js"></script>
    <script src="~/Content/AdminPanelAssets/plugins/jquery-step/jquery.steps.min.js"></script>
    <script src="~/Content/AdminPanelAssets/plugins/jquery-step/custom-jquery.steps.js"></script>
    <script src="~/Scripts/factory.js"></script>

    <!-- END PAGE LEVEL SCRIPTS -->

    <script>
        $(document).ready(function () {
            var number_of_rooms = '@ViewBag.NumberOfRooms';

            function subtractDays(from, to) {
                var day_from = new Date(from);
                var day_to = new Date(to);
                var difference = Math.abs(day_to - day_from);
                days = difference / (1000 * 3600 * 24)
                return days;
            }

            $(document).on("click", ".delete_room", function () {
                if (number_of_rooms > 1) {
                    $("#" + $(this).attr('data-control-div')).remove();
                    number_of_rooms--;
                    $("#number_of_room_strong_paragraph").text(number_of_rooms);
                }
                else {
                    alert('1 room at least allowed');
                }
            });
            var check_in = check_out = null;
            var total_nights = 0;
            var deposit = total_after_tax = price_per_night = tax = 0;
            var reservation_rows = [];

            function calculateTotals(reservation_rows) {

                var calculated_total_after_tax = 0;
                var calculated_tax = 0;
                var calculated_deposit = 0;
                var calculated_total_nights = 0;
                var calculated_check_in = null;
                var calculated_check_out = null;


                reservation_rows.forEach(function (value) {
                    if (calculated_check_in == null)
                        calculated_check_in = value.from;
                    else {
                        if (value.from && value.from < calculated_check_in)
                            calculated_check_in = value.from;
                    }

                    if (calculated_check_out == null)
                        calculated_check_out = value.to;
                    else {
                        if (value.to && value.to > calculated_check_out)
                            calculated_check_out = value.to;
                    }

                    if (value.from && value.to) {
                        if (value.room_type) {
                            var calculated_total_nights_per_reservation = subtractDays(value.from, value.to);

                            if (value.room_type == 1) {
                                calculated_total_after_tax += calculated_total_nights_per_reservation * '@Model.single_price';
                            }
                            else if (value.room_type == 2) {
                                calculated_total_after_tax += calculated_total_nights_per_reservation * '@Model.double_price';
                            }
                            else if (value.room_type == 3) {
                                calculated_total_after_tax += calculated_total_nights_per_reservation * '@Model.triple_price';
                            }
                            else if (value.room_type == 4) {
                                calculated_total_after_tax += calculated_total_nights_per_reservation * '@Model.quad_price';
                            }

                        }
                        else {
                            calculated_total_after_tax += calculated_total_nights_per_reservation * '@Model.single_price';
                        }
                        calculated_total_nights += calculated_total_nights_per_reservation;
                    }
                });


                calculated_tax = '@Model.tax' / 100 * calculated_total_after_tax;
                calculated_total_after_tax += calculated_tax;
                calculated_deposit = '@Model.advance_reservation_percentage' / 100 * calculated_total_after_tax;
                $("#calculated_tax").text(addCommas(calculated_tax.toFixed(2)));
                $("#calculated_deposit").text(addCommas(calculated_deposit.toFixed(2)));
                $("#calculated_total_after_tax").text(addCommas(calculated_total_after_tax.toFixed(2)));
                $("#calculated_number_of_nights").text(calculated_total_nights);
                $("#check_out_max").text(calculated_check_out);
                $("#check_in_min").text(calculated_check_in);

            }

            $(document).on("change", ".reservation_from", function () {
                const row = {
                    room_type: $("#" + $(this).attr("data-room-type")).val(),
                    from: $(this).val(),
                    to: $("#" + $(this).attr("data-reservation-to")).val(),
                };
                reservation_rows[$(this).attr("data-row")] = row;
                console.log(reservation_rows);


                calculateTotals(reservation_rows);
            });

            $(document).on("change", ".reservation_to", function () {
                const row = {
                    room_type: $("#" + $(this).attr("data-room-type")).val(),
                    from: $("#" + $(this).attr("data-reservation-from")).val(),
                    to: $(this).val(),
                };
                reservation_rows[$(this).attr("data-row")] = row;
                console.log(reservation_rows);

                calculateTotals(reservation_rows);
            });

            $(document).on("change", ".room_type", function () {
                debugger
                const row = {
                    room_type: $(this).val(),
                    from: $("#"+$(this).attr("data-reservation-from")).val(),
                    to: $("#" + $(this).attr("data-reservation-to")).val(),
                };
                reservation_rows[$(this).attr("data-row")] = row;

                calculateTotals(reservation_rows);
            });

            $("#add_room").click(function () {
                number_of_rooms++;
                var html = `<div class="row" id="room_number_${number_of_rooms}">
                                                            <div class="col-12 mb-4">
                                                                <div class="form-row mb-4">
                                                                    <div class="col-3">
                                                                        <input type="text" class="form-control" required placeholder="First Name" name="first_name">
                                                                    </div>
                                                                    <div class="col-3 offset-1">
                                                                        <input type="text" class="form-control" required placeholder="Last Name" name="last_name">
                                                                    </div>
                                                                    <div class="col-3 offset-1">
                                                                        <select class="form-control room_type" required name="room_type" id="room_type_${number_of_rooms}" data-reservation-from="in-date_${number_of_rooms}" data-reservation-to="out-date_${number_of_rooms}" data-row="${number_of_rooms}">
                                                                            <option value="1">Single</option>
                                                                            <option value="2">Double</option>
                                                                            <option value="3">Tribble</option>
                                                                            <option value="4">Quadro</option>
                                                                        </select>
                                                                    </div>

                                                                </div>
                                                                <div class="form-row mb-4">
                                                                    <div class="col-3">
                                                                        <label for="in-date">Checkin Date</label>
                                                                        <input type="date" id="in-date_${number_of_rooms}" required name="reservation_from" class="form-control reservation_from" data-room-type="room_type_${number_of_rooms}" data-reservation-to="out-date_${number_of_rooms}" data-row="${number_of_rooms}">
                                                                    </div>
                                                                    <div class="col-3  offset-1">
                                                                        <label for="out-date">Checkout Date</label>
                                                                        <input type="date" id="out-date_${number_of_rooms}" required name="reservation_to" class="form-control reservation_to" data-room-type="room_type_${number_of_rooms}" data-reservation-from="in-date_${number_of_rooms}" data-row="${number_of_rooms}">
                                                                    </div>

                                                                </div>
                                                                <div class="buttons-form-position">
                                                                    <a href="javascript:void(0)" class="btn btn-danger delete_room" data-control-div="room_number_${number_of_rooms}">Del</a>
                                                                </div>


                                                            </div>
                                                        </div>`;
                $("#rooms_div").append(html);
                $("#number_of_room_strong_paragraph").text(number_of_rooms);
            });
        });
    </script>

</body>
</html>